# =====================
# Environment
# =====================
.env

# =====================
# Go build files
# =====================
bin/
build/
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# =====================
# Go test
# =====================
*.test
coverage.out

# =====================
# Logs
# =====================
*.log

# =====================
# VS Code
# =====================
.vscode/

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db